// Colors
$primary-fg: #111;
$primary-bg: #fff;
$link-fg: #999;
$link-hover: #222;
$border-color: #999;
$highlight: #ffdb66;
// Fonts
$header-fonts: "Eaves", Georgia, "Times New Roman", serif;
$body-fonts: "Old Newspaper", serif;

