<form action="/infinite_timeline" method="POST" enctype="multipart/form_data">
  <input type="text" name="content" placeholder="Type your line here" size="128" /><br />
  <input type="hidden" name="_method" value="{{method}}" />

  <input id="form-submit" type="submit" value="Submit" class="btn btn-outline-secondary mt-2" />
</form>
