<a href="/" class="p-2">Home</a>
<a href="/posts?category=Local" class="p-2">Local</a>
<a href="/posts?category=Politics" class="p-2">Politics</a>
<a href="/posts?category=Videos" class="p-2">Videos</a>
<a href="/posts?category=Current+Events" class="p-2">Current Events</a>
<a href="/posts?category=Arts+%26+Culture" class="p-2">Arts &amp; Culture</a>
<a href="/infinite_timeline" class="p-2">Infinite Timeline</a>
<a href="/quizzes" class="p-2">Quiz</a>
<a href="/crosswords" class="p-2">Crosswords</a>
<a href="/about" class="p-2">About</a>
<a href="/contact" class="p-2">Contact Us</a>
{{#if req.signedCookies.id_token }}
  <a href="/staging" class="p-2">Staging</a>
  <a href="/logout" class="p-2">Logout</a>
  <a href="/features" class="p-2">Featured</a>
  <a href="/insta_shorts" class="p-2">Insta Shorts</a>
  <a href="/posts/new" class="p-2">+</a>
{{/if}}
