{{> header}}
<h1>Featured Articles</h1>
<p><a href="/features/new" class="btn btn-outline-secondary">New featured article</a></p>
<div class="row">
  {{#each feats}}
    <div class="col-4">
      <h3>{{post}}</h3>
      <p><a href="/features/{{index}}/edit" class="btn btn-outline-secondary">Edit</a></p>
      <p><a href="/features/{{index}}/delete" class="btn btn-outline-secondary">Delete</a></p>
    </div>
  {{/each}}
</div>
{{> footer}}
