# package directories
node_modules/
jspm_packages/

# Coverage files
.nyc_output/
coverage/

# SCSS
.sass-cache/

# Serverless directories
.serverless

# Serverless ssm offline
.env
!/test/.env

# Mac OS
.DS_Store
