{{> header}}
<div class="post">
  <h2>Mission Statement</h2>
  <p class="pt-4">Bring us your bored, your frustrated, your huddled masses, yearning to read funny stuff, the wretched refuse of your teeming browser. Read these: the irrelevant, irreverent, irresponsible words; we wrap our fish with them.</p>
  <p>Join us. Read The Fishwrapper. 'Sko Dawgs.</p>
</div>
{{> footer}}
