{{> header}}
<div class="row contact">
  <div class="col-5">
    <h1>Contact Us</h1>
    <p>Are you a writer? Illustrator? Designer? Photographer? Videographer? Slightly more than funny? Have a set of gills and enjoy being wrapped in yesterday's newpaper? Revel in your irrelevance?? If you answered yes to any of these questions, we want you to "work" for us (you're definitely not getting paid)!</p>
    <p>Email <a href="mailto:editorial@thefishwrapper.news">editorial@thefishwrapper.news</a> if you're intereseted.</p>
  </div>
  <div class="col-5" id="subscribe">
    <h1>Want More?</h1>
    <p><a href="/subscribers/new" id="sub">Subscribe</a> and get lil' messages</p>
    <p id="unsub">(or <a href="/subscribers/delete">Unsubscribe</a> if you're joyless)</p>
  </div>
</div>
{{> footer}}
