$body-fonts: Helvetica, sans-serif;
$subheader-fonts: Balto, sans-serif;
$header-fonts: "Eaves", "Playfair Display", Georgia, "Times New Roman", serif;

$background-color: #fff;
$detail-light: #999;
$detail-dark: #222;
$grey: #7D7D7D;
$text-color: #111111;
$gutter-color: #dedede;
$footer-color: #a7a7a7;
$border-color: #e0e0e0;
$highlight: #ffdb66;
