// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.post {
  p {
    font-size: 1.25rem;
  }
}

.image-container {
  h6 {
    font-size: 0.75rem;
    color: $detail-light;
  }
  img {
    max-height: 25rem;
  }
}

span.tab {
  padding-left: 2rem;
}

.contact {
  h1 {
    font-size: 3rem;
  }
  .col-5 {
    margin: 2rem;
    border: double 4px;
    background-color: #ddd;
    padding: 5%;
//    font-size: 2rem;
    text-align: center;
//    height: 10rem;
    p {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
  }
}

#subscribe {
  h1 {
    margin-bottom: 25%;
  }
  a:hover {
    background-color: $highlight;
    color: #111;
  }
}

#sub {
  font-weight: bold
}

#unsub {
  font-size: 0.8rem;
}
