{{> header}}
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{quiz.title}}</h2>
      <h6>by {{quiz.author}}</h6>
    </div>
    <div class="col-12">
     <p>{{result.rContent}}</p>
     <p><a href="/quizzes/{{quiz.quizId}}" class="btn btn-secondary-outline">Back</a></p> 
    </div>
  </div>
 
{{> footer}}
