{{> header}}
  <h1>Infinite Timeline</h1>
  <h6>A collaborative story produced by readers like you.</h6>
  {{#each story}}
    <p>{{content}}</p>
  {{/each}}
  <p class="btn btn-outline-secondary mt-3"><a href="/infinite_timeline/new">Contribute to the magic</a><p>
{{> footer}}
