{{> header}}
  <h1>Write your addition</h1>
  <h6>Add your line to the infinite timeline, and if we like it, your words will be immortalized on our webpage.</h6>
  {{> inf_form method='POST'}}
  <p class="btn btn-outline-secondary mt-3"><a href="/infinite_timeline">Back</a></p>
{{> footer}}
