{{> header}}
  <h1>Change the current week for submissions</h1>
  <form action="/infinite_timeline/week" method="POST">
    <label for="week">Week:</label>
    <input id="week" type="text" value="{{week}}" name="week" /><br />
    <input type="submit" value="Submit" class="btn btn-outline-secondary" />
  </form>
{{> footer}}
